<div class="full-width-div mt-5" >

  <div class="h-100 row align-items-center" >
    <div class="col-lg-6 mx-auto px-5 align-middle my-auto">
      <form [formGroup]="userForm" (submit)="onSubmit()">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input formControlName = "email" type="email" class="form-control" [ngClass]="{'is-invalid' : userForm.get('email').errors}" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          <div *ngIf="userForm.get('email').errors?.required" class="invalid-feedback">
            Email is required.
          </div>
          <div *ngIf="userForm.get('email').errors?.email" class="invalid-feedback">
            Invalid Email.
          </div>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input  [ngClass]="{'is-valid' : userForm.get('password').error}" formControlName = "password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div *ngIf="userForm.get('password').errors?.required" class="invalid-feedback">
          password is required
        </div>
   
        <button type="submit" class="btn btn-primary float-right">Submit</button>
      </form>  
    </div>
  </div>
  </div>
  